.described-video-button {
  float: right !important;
  cursor: pointer;
  width: 3em !important;
  line-height: 3em;
}

/* TODO: Use an icon instead of this text, based on the icon at
 * http://www.ryerson.ca/accessibility/tools/access_symbols.html
 */
.described-video-button:before {
  content: "AD)";
}

.described-video-button.is-described:before {
  color: #66A8CC;
}
