@font-face {
  font-family: 'describedvideo';
  src:url('fonts/describedvideo.eot?b9ct3d');
  src:url('fonts/describedvideo.eot?#iefixb9ct3d') format('embedded-opentype'),
    url('fonts/describedvideo.woff?b9ct3d') format('woff'),
    url('fonts/describedvideo.ttf?b9ct3d') format('truetype'),
    url('fonts/describedvideo.svg?b9ct3d#describedvideo') format('svg');
  font-weight: normal;
  font-style: normal;
}

.described-video-button {
  float: right !important;
  cursor: pointer;
  width: 3em !important;
  line-height: 3em;
}

.described-video-button:before {
  font-family: 'describedvideo' !important;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  font-size: 2em !important;
  line-height: 1.5em !important;
  content: "\e600";

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.described-video-button.is-described:before {
  color: #66A8CC;
}
